*{
    box-sizing: border-box;
    list-style: none;
}
body{
    margin: 0px;
}
/* header{
    background-color: rgb(88, 149, 184);
    color: white;
    text-align: center;
    padding: 50px;
}
header h1{
    font-size: 40px;
} */
header{
    background-color: rgb(80, 139, 179);
    background-image: url(images/logo.gif);
    height: 27vw;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 50%;
    background-attachment: fixed;
}
nav{
    background-color: rgb(41, 28, 28);
    /* overflow:hidden; */
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1;
}
nav a {
    display: block;
    padding: 14px 20px;
    float: left;
    text-decoration: none;
    color: white;
}
section{
    text-align: center;
    height: 100%;
    padding: 75px 0px;
    min-height: 40vh;
}

.courses,.collegereviews,.studymaterial,.ourfounder{
    background-color: rgb(235, 229, 219);
}
img{
    padding: 0px 20px;
}
h2{
    padding-bottom: 40px;
}
footer{
    overflow: hidden;
    background-color: rgb(41, 28, 28);
    display: flex;
}
footer a{
    display: block;
    padding: 14px 20px;
    float: left;
    text-decoration: none;
    color: white;
}
.copyright{
    float: right;
}
section h5 {
    margin: 0px 130px;
}

.menu-btn:hover{
    background-color: rgb(231, 204, 154);
    color: black;
}
section h2 span{
    background: linear-gradient(to right,#f5d837,#bbb812);
    padding: 10px 55px;
    border-radius: 20px;
    color: white;
}
  
.carousel-cell {
    width: 66%; 
    margin-right: 10px;
    border-radius: 5px;
  }
  .carousel-cell video{
      max-width: 100%;
  }
  .iframe-container {
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 */
    position: relative;
    width:100%;

  } 
  
  .carousel-cell iframe{
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
  }
  .img-responsive{
      height: 100vh;
      max-width: 100vh;
  }
  .profile-img{
      border-radius: 47%;
  }
  .profile-name{
      font-style: oblique;
      font-weight: 900;
      text-transform: uppercase;
      word-spacing: 4px;
      letter-spacing: 4px;
  }
  .sm-handle a :hover{
      background-color: rgb(30, 30, 30 / 25);
  }
  .sm-handle a {
      background-color: rgba(173, 172, 172, 0.555);
      padding: 15px 10px;
      border-radius: 30px;
      text-decoration: none;
      /* color: rgb(78, 8, 8); */
      margin: 10px 12px;
      font-size: 1.18em;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  .sm-handle a i{
      margin: 5px;
  }
  .yt-handle{
      color: #d80a0a;
  }
  .linkedin-handle{
      color: #0c6e9b ;
  }
  .insta-handle{
      color: rgb(170, 73, 111);
  }
  .about-us{
      margin: 50px;
  }

  .about-title{
      font-size: 1.25em;
      padding: 0px 15px;
      color: rgb(5, 5, 107);
  }
  .about-content{
      font-weight: 900;
      color: rgba(53, 38, 38, 0.877);
  }


@media screen and (max-width:620px){
    footer ,nav{
        flex-direction: column;
        text-align: center;
        position: relative;
        padding: 10px 0px;
    }
    .flex-align-right{
        margin: 0px;
    }
}